LIBRERÍAS REQUERIDAS PARA NUESTRO PROYECTO:
--web scraping--
requests
selenium
bs4 (BeautifulSoup)

--presencia de color--
PIL
io

--fechas--
datetime
time

--google trends--
pytrends

--otras--
pandas
re


