LIBRERÍAS REQUERIDAS PARA NUESTRO PROYECTO:
--web scraping--
requests
selenium
bs4 (BeautifulSoup)
asyncio
playwright.async_api

--presencia de color--
PIL
io

--fechas--
datetime
dateutils
time

--google trends--
pytrends

--otras--
pandas
re
